   /*Forms Style*/
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .containerreg{
    max-width: 500px;
    width: 100%;
    background: #202020;
    margin: 20px auto;
    padding: 30px;
  }
  
  .containerreg .title{
      color: #f1f1f1;
      font-size: 25px;
      margin-bottom: 25px;
      font-weight: 650;
      text-align: center;
      padding: 0 0 20px 0;
      border-bottom: 1px solid white;
  }
  
  .containerreg .form{
    width: 100%;
  }
  
  .containerreg .form .textbox{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
  }
  
  .containerreg .form .textbox label{
    width: 200px;
    color: #f4f4f4;
    margin-right: 10px;
    font-size: 15px;
  }
  
  .containerreg .form .textbox .input{
    width: 100%;
    outline: none;
    font-size: 15px;
    border: 1px solid #728C00;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 0.5s ease;
  }
  
    input[type="submit"]{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid;
    background: #191919;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
    font-weight: 700;
  }
  
  input[type="submit"]:hover{
    transition: .5s;
    border-color:  #191919;
  }
  
  @media (max-width: 420px) {
    .containerreg .form .textbox{
      flex-direction: column;
      align-items: flex-start;
    }
  
    .containerreg .form .textbox label{
      margin-bottom: 5px;
    }

  }

  /*Register Page Style*/
  input[type="submit"]:hover{
  transition: .5s;
  border-color:  #191919;
  }

  /* Style for <p> elements */
.containerreg p {
    color: #d1d1d1;
    font-size: 14px;
    line-height: 1.6;
    margin: 10px 0;
    text-align: center;
  }

/* Style for the link */
.link {
    font-weight: bold; 
    color: #E1D9D1;    
    text-decoration: none; 
}
  
.link:hover {
    text-decoration: underline; 
    color: #E1D9D1; 
}
  

@media (max-width: 420px) {
    .containerlog .form .textbox{
        flex-direction: column;
        align-items: flex-start;
    }

    .containerlog .form .textbox label{
        margin-bottom: 5px;
    }

}

 